@import "../../../variables";

.contact-us {

    // background-color: var(--color-background-dark);
    // color: var(--color-white);

    // background-color: #fcfcfc;
    color: var(--color-black-text);

    padding: 32px 12px;

    .contact-us-container {
        padding-top: 20px;

        .two-parts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;

            @media screen and (min-width: $screenSize_smallDesktop) {
                flex-direction: row;
                align-items: center;
            }
            box-shadow: 1px 1px 12px 0px rgba($color-black-text, 0.15);
            .part {
                width: 50%;
                display: flex;
                flex-direction: column;

                
                &.left {
                    align-items: center;
                    width: 100%;
                    padding: 12px;
                    img {
                        max-width: 540px;
                        width: 100%;
                        height: auto;
                    }
                }
    
                &.right {
                    padding: 12px;
                    width: 100%;
                    height: 100%;
                    margin: auto 0;

                    .form-title {
                        h2 {
                            text-align: center;
                            font-size: 36px;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
    
                    .form {
                        padding: 0;
                        form {
                            display: flex;
                            flex-direction: column;
                            padding: 6px 0;
    
                            .form-group {
                                display: flex;
                                flex-direction: column;
                                padding: 14px 0;
    
                                &.vertical {
                                    flex-direction: row;
                                }
    
                                &.center {
                                    justify-content: center;
                                }
    
                                label {
                                    padding: 6px 0;
                                    font-size: 16px;
                                }
    
                                a {
                                    color: var(--color-black-text);
                                }

                                input[type="text"], input[type="email"], textarea {
                                    width: 100%;
                                    padding: 10px 10px;
                                    border: none;
                                    border-bottom: 2px solid var(--color-light);
                                    background-color: var(--color-white);
                                    outline: none;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-family: 'Ubuntu', sans-serif;
                                    &::placeholder {
                                        font-weight: 400;
                                        font-size: 16px;
                                        color: rgba($color-black-text, 0.4);
                                    }
                                }
    
                                input[type="submit"] {
                                    padding: 16px 24px;
                                    width: 260px;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 24px;
                                    color: var(--color-white);
                                    font-size: 18px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    background-color: var(--color-background-light);
                                    transition: background-color 0.1s ease-in-out;
                                    &:hover {
                                        background-color: var(--color-background-dark);
                                    }
                                    &:disabled {
                                        cursor: not-allowed;
                                        background-color: var(--color-light);
                                    }
                                }
                                
                                input[type="checkbox"] {
                                    margin-right: 10px;
                                }
                                
                            }
                        }

                        @media screen and (min-width: $screenSize_smallDesktop) {
                            padding: 0 24px;
                        }

                    }
                }

            }
        }
        
    }

}
