@import '../../../variables';


.our-offer {

    width: 100%;

    @media screen and (min-width: $screenSize_mobile) {

    }
    @media screen and (min-width: $screenSize_tablet) {

    }
    @media screen and (min-width: $screenSize_smallDesktop) {
        
    }
    @media screen and (min-width: $screenSize_normalDesktop) {

    }
    @media screen and (min-width: $screenSize_largeDesktop) {

    }

    .offer-container {
        margin: 0 auto;
        text-align: center;
    }

    .offer-table-container {
        display: flex;
        justify-content: center;
        padding: 12px;

        .table {
            width: 100%;
            display: grid;
            font-size: 24px;

            // grid-template-columns: repeat(5, 1fr);
            // grid-template-rows: repeat(10, 1fr);
            
            grid-template-areas:
                'header header header header header'
                '. . . . .';
            

            @media screen and (min-width: $screenSize_mobile) {

            }
            @media screen and (min-width: $screenSize_tablet) {
        
            }
            @media screen and (min-width: $screenSize_smallDesktop) {
                grid-template-areas:
                'header header header header header'
                '. . . . .';
            }
            @media screen and (min-width: $screenSize_normalDesktop) {
        
            }
            @media screen and (min-width: $screenSize_largeDesktop) {
        
            }


            
            .data {
                padding: 16px 24px;

                &.left, &.head {
                    background-color: var(--tile-background);
                    color: var(--white-text);
                }
            }

        }

    }

}

