@import '../../../variables';


.our-offer {

    width: 100%;

    @media screen and (min-width: $screenSize_mobile) {

    }
    @media screen and (min-width: $screenSize_tablet) {

    }
    @media screen and (min-width: $screenSize_smallDesktop) {
        
    }
    @media screen and (min-width: $screenSize_normalDesktop) {

    }
    @media screen and (min-width: $screenSize_largeDesktop) {

    }

    .offer-container {
        margin: 0 auto;
        text-align: center;
    }

    .offer-table-container {
        display: flex;
        justify-content: center;
        padding: 12px;

        .table-mobile {
            width: 100%;
            font-size: 20px;
            display: block;
            
            .data-group {
                // padding: 12px;
                border: 1px solid var(--tile-background);
                border-radius: 8px;
                margin: 12px 0;
                box-shadow: 1px 1px 6px 0px var(--light-text);

                .group {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    // :nth-child(2) {
                    //     background-color: var(--dark-text);
                    // }
                    .header {
                        width: 100%;
                        background-color: unset;
                        color: #333;
                        text-align: left;
                        
                    }
                    .table-row {
                        width: 100%;
                        text-align: left;
                        &.title {
                            background-color: var(--tile-background);
                            color: var(--white-text);
                            text-transform: uppercase; 
                            
                        }
                    }
                }
                
                .row-title {
                    background-color: var(--tile-background);
                    color: var(--white-text);
                    text-transform: uppercase;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
                
            }
            .data {
                text-align: center;
            }
            .left {
                background-color: var(--tile-background);
            }
            
        }

        .table-full {
            width: 100%;
            font-size: 20px;

            display: none;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(9, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .data {
            padding: 12px 16px;
        }

        .header {
            background-color: var(--tile-background);
            color: var(--white-text);
        }

        .left {
            background-color: var(--tile-background);
            color: var(--white-text);
            text-transform: uppercase;
        }

        @media screen and (min-width: $screenSize_mobile) {

        }
        @media screen and (min-width: $screenSize_tablet) {
            .table-mobile {
                display: none;
            }
            .table-full {
                display: grid;
            }
        }
        @media screen and (min-width: $screenSize_smallDesktop) {

        }
        @media screen and (min-width: $screenSize_normalDesktop) {
    
        }
        @media screen and (min-width: $screenSize_largeDesktop) {
    
        }

    }

}

