@import '../variables';
@import 'common';


.app-container {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-black-text);

    .container {
        @include responsiveContainer();
    }

    .container-full {
        width: 100%;
    }
    

}
