@import '../variables';
@import 'common';


.app-container {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--black-text);

    background-color: darkgrey;

    .container {
        @include responsiveContainer();
        background-color: darkcyan;;
    }

    .container-full {
        width: 100%;
        // max-width: 100%;
        // margin: 0;
    }
    

}
