@import '../../../variables';


.footer {
    background-color: var(--color-background-dark);
    color: var(--color-white);

    .footer-content { 
        min-height: 100px;
        color: var(--color-white);
        text-align: center;
        position: relative;

        span {
            font-size: 14px;
            position: absolute;
            top: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

}
