@import "../../../variables";


.header {
    background-color: #fcfcfc;
    color: var(--tile-background);

    .motto-container {
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        position: relative;
        overflow: hidden;
        flex-wrap: wrap;
        
        h1 {
            padding: 20px 0;
            border-radius: 10px;
            font-size: 32px;
        }
    
        h2 {
            width: fit-content;
            padding: 10px;
            border-radius: 10px;
            font-size: 26px;
        }
        
        .header-image {
            width: 100%;
            height: auto;
            opacity: 0;
            animation: fade-in 1s ease-in forwards;
            max-width: 300px;
            box-shadow: 1px 1px 12px 0 rgba($color-black-text, 0.2);
        }
    
        .motto {
            margin: 12px 0;
            overflow: hidden;
            transform: translateY(100%);
            animation: slide-in-from-bottom 1s forwards;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }

    @media screen and (min-width: $screenSize_tablet) {
        
        .motto-container {

            flex-wrap: nowrap;
            justify-content: space-between;

            .header-image {
                width: 100%;
                height: auto;
            }

        }
        
    }

}
