

/* media queries */

$screenSize_mobile: 600px;

$screenSize_tablet: 768px;

$screenSize_smallDesktop: 992px;

$screenSize_normalDesktop: 1200px;

$screenSize_largeDesktop: 1360px;


:root {
    --tile-background: #4551dd;
    --white-text: #FFFFFF;
    --dark-text: #888888;
    --light-text: #BBBBBB;
    --black-text: #333333;
}


@mixin responsiveContainer() {
    @media screen and (max-width: $screenSize_mobile) {

    }
    @media screen and (min-width: $screenSize_mobile) {

    }
    @media screen and (min-width: $screenSize_tablet) {

    }
    @media screen and (min-width: $screenSize_smallDesktop) {

    }
    @media screen and (min-width: $screenSize_normalDesktop) {

    }
    @media screen and (min-width: $screenSize_largeDesktop) {

    }
}

