

/* media queries */

$screenSize_mobile: 600px;

$screenSize_tablet: 768px;

$screenSize_smallDesktop: 992px;

$screenSize_normalDesktop: 1200px;

$screenSize_largeDesktop: 1360px;


:root {
    --tile-background: #4551dd;
    --white-text: #FFFFFF;
    --dark-text: #888888;
    --light-text: #BBBBBB;
    --black-text: #333333;
    --boxshadow: #4551dd33;
}


@mixin responsiveContainer() {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $screenSize_mobile) {
        max-width: 100%;
        width: 100%;
    }
    @media screen and (min-width: $screenSize_mobile) {
        // max-width: 600px;
        max-width: 100%;
        width: 100%;
    }
    @media screen and (min-width: $screenSize_tablet) {
        max-width: 800px;
    }
    @media screen and (min-width: $screenSize_smallDesktop) {
        max-width: 900px;
    }
    @media screen and (min-width: $screenSize_normalDesktop) {
        max-width: 1100px;
    }
    @media screen and (min-width: $screenSize_largeDesktop) {
        max-width: 1300px;
    }
}

