

/* media queries */

$screenSize_mobile: 480px;

$screenSize_tablet: 768px;

$screenSize_smallDesktop: 1024px;

$screenSize_normalDesktop: 1360px;

// $screenSize_largeDesktop: > 1200px;



:root {



}
